<main class="s-home s-home--slides">

  <div class="home-slider">
      <div class="home-slider-img" style="background-image: url(https://images.unsplash.com/photo-1520333789090-1afc82db536a?ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=751&q=80);"></div>

  </div>

  <div class="overlay"></div>

  <div class="home-content">

      <div class="home-logo">
         <h3>MasterWinner</h3>
      </div>

      <div class="row home-content__main">

          <div class="col-eight home-content__text pull-right">
              <h3>Bem vindo a MasterWinner</h3>


              <h1>
                Agora estamos trabalhando em nosso site
                e nos conteúdos incríveis que vão dar um impulso na sua
              carreira.
               <span >
                Faça parte da comunidade <a style="color: #ec008c; font-size:.8em" target="_blank" href="https://join.slack.com/t/oswinners/shared_invite/zt-p54iraet-F84z5Ra5sELB9mZBN73rHg">OsWinners</a>
              </span>
              </h1>


              <div class="home-content__subscribe">
                  <app-form></app-form>
              </div>
          </div>  <!-- end home-content__text -->

          <div class="col-four home-content__counter">
              <h3>LANÇAMENTO</h3>

              <div class="home-content__clock" #countdown>
                  <div class="top">
                      <div  class="time days">
                        <strong #days></strong>
                          <span>Dias</span>
                      </div>
                  </div>
                  <div class="time hours">
                    <strong #hours></strong>
                      <span>H</span>
                  </div>
                  <div  class="time minutes">
                    <strong #minutes></strong>
                      <span>M</span>
                  </div>
                  <div  class="time seconds">
                    <strong #seconds></strong>
                      <span>S</span>
                  </div>
              </div>
          </div>

      </div>

      <ul class="home-social">

          <li>
          <a href="#0"><i class="fab fa-telegram-plane" aria-hidden="true"></i><span>Telegram</span></a>
          </li>
          <li>
          <a target="_blank" href="https://join.slack.com/t/oswinners/shared_invite/zt-p54iraet-F84z5Ra5sELB9mZBN73rHg"><i class="fab fa-slack" aria-hidden="true"></i><span>Slack </span></a>
          </li>
      </ul> <!-- end home-social -->




      <div class="home-content__line"></div>

  </div> <!-- end home-content -->

</main> <!-- end s-home -->



<a class="info-toggle" (click)="openDialog()" style="cursor:pointer">
  <span class="info-menu-icon"></span>
</a>




<!-- preloader
================================================== -->
<div id="preloader">
  <div id="loader">
      <div class="line-scale-pulse-out">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
      </div>
  </div>
</div>
